################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/main
/Zhao_Zhenyu.assignment-1.01.tar.gz
/.nfs000000023781ef5600000047
/.nfs0000000252b00edb00000036
*.gz
/Zhao_Zhen.assignment-1.05
