################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/main
/Zhao_Zhenyu.assignment-1.01.tar.gz
